@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #fff;
}

.calculator {
  width: 20rem;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.screen {
  background-color: #858694;
  padding: 2.4rem;
  text-align: right;
  font-size: 20px;
}

button {
  background-color: #e0e0e0;
  width: 5rem;
  padding: 2rem;
  border: 1px solid #d1d1d1;
  outline: none;
}

.orange-btn {
  background-color: #f5913e;
}

.span2 {
  width: 10rem;
}

main {
  color: black;
  font-family: 'Alkatra', cursive;
  width: 25rem;
  padding: 8rem;
}

main p {
  font-size: 22px;
  letter-spacing: 2.5px;
}

main ul li{
  text-decoration: none;
  list-style: none;
  font-size: 22px;
  letter-spacing: 1.7px;
}

.math-magician {
  display: flex;
}
